{{- /* Global Music Player */ -}}

<div id="aplayer"></div>
<script>
(function(){var el=document.getElementById("aplayer");if(el&&el.parentNode){el.parentNode.removeChild(el);document.body.appendChild(el);}})();
</script>

<script src="/lib/aplayer/APlayer.min.js"></script>

<script>

// ===============================
// 网易云歌曲ID库
// 以后只需要在这里添加ID即可
// ===============================

let musicIds = [

    "1888933954",   // 道别是一件难事
    "37240058",     // 告诉我 Live
    "37239070",     // 太聪明 Live
    "37240060",     // 旅行的意义 Live
    "3363432414",   // 模特
    "2101067848",   // 天后
    "2605274338",   // 可你听见了
    "4968396"       // ティガの里、遥か

];


// ===============================
// 自动获取网易云歌曲信息
// ===============================

async function get163Music(ids){

    let playlist=[];


    for(let id of ids){

        try{

            let response = await fetch(
                `https://music.163.com/api/song/detail?ids=[${id}]`
            );


            let json = await response.json();


            let song=json.songs[0];


            if(song){

                playlist.push({

                    name:song.name,


                    artist:song.artists
                        .map(item=>item.name)
                        .join(" / "),


                    url:
                    `https://music.163.com/song/media/outer/url?id=${id}.mp3`,


                    cover:
                    song.album.picUrl+
                    "?param=90y90"

                });

            }


        }catch(error){

            console.log(
                "网易云歌曲加载失败:",
                id
            );

        }

    }


    return playlist;

}



// ===============================
// 初始化播放器
// ===============================

(async()=>{


    let audioList =
        await get163Music(musicIds);



    var ap = new APlayer({

        container:
        document.getElementById('aplayer'),


        fixed:true,


        mini:true,


        autoplay:false,


        theme:'#2d96bd',


        loop:'all',


        order:'list',


        preload:'auto',


        volume:0.7,


        mutex:true,


        listFolded:false,


        lrcType:0,


        audio:audioList

    });


})();


</script>



